# HTTP SERVER
HOST=localhost
PORT=5000

# POSTGRES
PGHOST=localhost
PGUSER=postgres
PGDATABASE=forumapi
PGPASSWORD=postgres
PGPORT=5432

# TOKENIZE
ACCESS_TOKEN_KEY=replace-with-dev-access-token-key
REFRESH_TOKEN_KEY=replace-with-dev-refresh-token-key
ACCESS_TOKEN_AGE=3000
