# HTTP SERVER
HOST=localhost
PORT=3001

# POSTGRES TEST
PGHOST=localhost
PGUSER=postgres
PGDATABASE=forumapi_test
PGPASSWORD=postgres
PGPORT=5432

# TOKENIZE (dummy keys for testing only)
ACCESS_TOKEN_KEY=test-access-token-key
REFRESH_TOKEN_KEY=test-refresh-token-key
ACCESS_TOKEN_AGE=3000
